/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 769px) {
    .aboutussection1 {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutussection1Title {
        font-weight: 700;
        font-size: 48px;
        line-height: 98px;
        text-align: center;
        color: #A80018;
    }

    .aboutussection1Image {
        margin-top: 19px;
        width: 256px;
        height: 290px;
        border-radius: 28px;
    }

    .aboutussection1para {
        margin-top: 45px;
        width: 349px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #A80018;
    }

    .aboutussection2 {
        margin-top: 40px;
        width: 100%;
        /* height: 600px; */
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }

    .aboutussection3 {
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }

    .aboutussection4 {
        padding: 0px 70px;
    }
}

/* Stills Section */
.stills-section-wrapper {
    /* margin: 10px; */
    width: 100%;
    /* overflow: hidden; */
    overflow-y: hidden;
    /* position: relative; */
    padding: 50px 50px;
    /* Space for padding on top and bottom */
}

.scroll-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.left-image, .right-image {
    will-change: transform, opacity; /* Optimize performance by informing the browser in advance */
    transition: transform 0.2s ease-out, opacity 0.2s ease-out; /* Smoother transition */
    opacity: 0; /* Set initial state to avoid a jump */
    transform: translateX(100px); /* Set initial transform state to avoid flicker */
}

  
/* Large devices (desktops, 769px and up) */
@media only screen and (min-width: 769px) {
    .aboutussection1 {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutussection1Title {
        font-weight: 700;
        font-size: 128px;
        line-height: 98px;
        text-align: center;
        color: #A80018;
    }

    .aboutussection1Image {
        margin-top: 59px;
        width: 498px;
        height: 564px;
        border-radius: 48px;
    }

    .aboutussection1para {
        margin-top: 67px;
        width: 1083px;
        font-weight: 500;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #A80018;
    }
    .aboutussection2 {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .aboutussection3 {
        width: 100%;
        height: 1200px;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }

    .aboutussection4 {
        padding: 0px 150px;
    }
}