@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url('https://s3-alpha-sig.figma.com/img/ebf3/7cf2/6e2867dafea539da318a15108ad23c4a?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DcG16TE85OpxR2jxlwyM1Vuqe6bf-UK9qMMYae9Zhc3bhvoNgJbpTpTxB~yBqcJ2Gjowu-mPbJUERdhcuBJqQXTWvy6-EQ60iMbiz1atwDkp0XTGIq~z~DCb94okF7GRm5XoOa-No1X-cNHoNO2AqOw1NUpl4FM6A5UkDg~Znwp-laH0QrKx5R1lri6ZEhJJk0u7oQXGbh~x3crs0o86hl7RdqZPg~WIxCzYQ6T-Bd5IPWpQuMcLWBqbRc-bQ~f3htEBx-stXLPGU~OnBO2i3BJPT8BgtpXRMJP14sjd5onId7a1T~gCz0HZt2JUySWx0~YxDW9YYu-SJEXxgFk15Q__');
  background-repeat: repeat-y;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px '#A80018';
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #A80018;
}

.blurinheader {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .material-bubble {
    display: none;
  }

  .material-bubble1 {
    background-color: transparent;
    color: #A80018;
    /* Adjusted for darken($darkblue, 10%) */
    border: 1px;
    padding: 8px 12px;
    overflow: hidden;
    box-shadow: none;
    position: relative;
    border-radius: 24px;
    font-size: 12px;
    line-height: 11px;
  }

  .material-bubble1:hover {
    color: #f8f8f8;
    /* Adjusted for $offwhite */
  }

  .material-bubble1::before {
    content: "";
    position: absolute;
    border-radius: 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #A80018;
    /* Adjusted for darken($darkblue, 10%) */
    transition: opacity 0.3s, border 0.3s;
  }

  .material-bubble1:hover::before {
    opacity: 0;
  }

  .material-bubble1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #A80018;
    /* Adjusted for lighten($darkblue, 10%) */
    border-color: transparent;
    border-radius: 50%;
    transform: translate(-10px, -70px) scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }

  .material-bubble1:hover::after {
    opacity: 1;
    transform-origin: 100px 100px;
    transform: scale(1) translate(-10px, -70px);
  }

  .homepagesection1 {
    position: relative;
    margin-top: 67px;
    padding: 0px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepagesection1video {
    border-radius: 32px;
    width: 100%;
    height: 467px;
    object-fit: cover;
  }

  .homepagesection1text {
    position: absolute;
    font-size: 36px;
    color: white;
    text-align: center;
    font-weight: 600;
    line-height: 43px;
  }

  .homepagesection2 {
    margin-top: 49px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepagesection2text {
    font-size: 24px;
    display: inline-flex;
    gap: 8px;
    color: #A80018;
    line-height: 24.5px;
  }

  .homepagesection2img {
    width: 32px;
    height: 40px;
    border-radius: 3px;
  }

  .homepagesection2img {
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Smooth transition for transform and filter */
  }

  .homepagesection2img:hover {
    transform: scale(1.5) rotate(-4deg);
    /* Scale and rotate the image on hover */
    filter: blur(5px);
    /* Apply blur on hover */
  }

  .homepagesection2img:hover {
    filter: none;
    /* Remove blur after the transition */
    transition: transform 0.3s ease, filter 0.15s 0.15s ease;
    /* Smooth transition for filter with delay */
  }

  @keyframes hoverEffect {
    0% {
      transform: none;
      filter: none;
    }

    50% {
      transform: scale(2.1) rotate(-5deg);
      filter: blur(2px);
      /* Blur effect while scaling and rotating */
    }

    100% {
      filter: none;
      /* Remove blur effect */
    }
  }

  .homepagesection3 {
    margin-top: 150px;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  .homepagesection4 {
    margin-top: 150px;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  .homepagesection5 {
    margin-top: 49px;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
  }

  .homepagesection5motion {
    width: 100%;
    height: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-top: 70px;
  }
  .motion-cms-play{
    display: none;
  }
  .motion-cms-playmobile {
    z-index: 6;
    width: 100px;
    height: 100px;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    color: var(--pale);
    transform-style: preserve-3d;
    /* background-color: rgba(14, 16, 18, .5); */
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    transform: translateZ(64px);
  }

}

/* Large devices (desktops, 769px and up) */
@media only screen and (min-width: 769px) {
  .motion-cms-playmobile{
    display: none;
  }
  .headerConatctTitle {
    font-weight: 700;
    font-size: 64px;
    line-height: 48px;
    text-align: center;
    color: #FFF;
  }

  .material-bubble {
    background-color: transparent;
    color: #A80018;
    /* Adjusted for darken($darkblue, 10%) */
    border: 1px;
    padding: 10px 14px;
    overflow: hidden;
    box-shadow: none;
    position: relative;
    border-radius: 24px;
    font-size: 14px;
    line-height: 11px;
  }

  .material-bubble1 {
    display: none;
  }

  .homepagesection1 {
    position: relative;
    margin-top: 75px;
    padding: 0px 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepagesection1video {
    border-radius: 32px;
    width: 100%;
    height: 639px;
    object-fit: cover;
  }

  .homepagesection1text {
    position: absolute;
    font-size: 82px;
    color: white;
    text-align: center;
    font-weight: 600;
    line-height: 98px;
  }

  .homepagesection2 {
    margin-top: 187px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepagesection2text {
    font-size: 64px;
    display: inline-flex;
    gap: 21px;
    color: #A80018;
  }

  .homepagesection2img {
    width: 72px;
    height: 90px;
    border-radius: 10px;
  }

  .homepagesection2img {
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Smooth transition for transform and filter */
  }

  .homepagesection2img:hover {
    transform: scale(1.5) rotate(-4deg);
    /* Scale and rotate the image on hover */
    filter: blur(5px);
    /* Apply blur on hover */
  }

  .homepagesection2img:hover {
    filter: none;
    /* Remove blur after the transition */
    transition: transform 0.3s ease, filter 0.15s 0.15s ease;
    /* Smooth transition for filter with delay */
  }

  @keyframes hoverEffect {
    0% {
      transform: none;
      filter: none;
    }

    50% {
      transform: scale(2.1) rotate(-5deg);
      filter: blur(2px);
      /* Blur effect while scaling and rotating */
    }

    100% {
      filter: none;
      /* Remove blur effect */
    }
  }


  .homepagesection3 {
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .homepagesection4 {
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .homepagesection5 {

    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
  }

  .homepagesection5motion {
    width: 100%;
    height: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-top: 70px;
  }

  .motion-cms-play {
    z-index: 6;
    width: 100px;
    height: 100px;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    color: var(--pale);
    transform-style: preserve-3d;
    background-color: rgba(14, 16, 18, .5);
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    transform: translateZ(64px);
  }



}



.material-bubble:hover {
  color: #f8f8f8;
  /* Adjusted for $offwhite */
}

.material-bubble::before {
  content: "";
  position: absolute;
  border-radius: 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #A80018;
  /* Adjusted for darken($darkblue, 10%) */
  transition: opacity 0.3s, border 0.3s;
}

.material-bubble:hover::before {
  opacity: 0;
}

.material-bubble::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #A80018;
  /* Adjusted for lighten($darkblue, 10%) */
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-10px, -70px) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.material-bubble:hover::after {
  opacity: 1;
  transform-origin: 100px 100px;
  transform: scale(1) translate(-10px, -70px);
}