@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/mantapa-22cfd.appspot.com/o/white-plaster-texture%202.png?alt=media&token=7a7719a9-51dc-4a56-af6c-fa58e2e387fa');
  background-repeat: repeat-y;
}


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px '#A80018';
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #A80018;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}



.blurinheader {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
.left-image, .right-image {
  /* opacity: 0; */
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.left-image {
  transform: translateX(50%);
}

.right-image {
  transform: translateX(-50%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .preloader-video {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }
  .material-bubble {
    display: none;
  }

  .material-bubble1 {
    background-color: transparent;
    color: #A80018;
    /* Adjusted for darken($darkblue, 10%) */
    border: 1px;
    padding: 8px 12px;
    overflow: hidden;
    box-shadow: none;
    position: relative;
    border-radius: 24px;
    font-size: 12px;
    line-height: 11px;
  }

  .material-bubble1:hover {
    color: #f8f8f8;
    /* Adjusted for $offwhite */
  }

  .material-bubble1::before {
    content: "";
    position: absolute;
    border-radius: 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #A80018;
    /* Adjusted for darken($darkblue, 10%) */
    transition: opacity 0.3s, border 0.3s;
  }

  .material-bubble1:hover::before {
    opacity: 0;
  }

  .material-bubble1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #A80018;
    /* Adjusted for lighten($darkblue, 10%) */
    border-color: transparent;
    border-radius: 50%;
    transform: translate(-10px, -70px) scale(0.1);
    opacity: 0;
    z-index: -1;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }

  .material-bubble1:hover::after {
    opacity: 1;
    transform-origin: 100px 100px;
    transform: scale(1) translate(-10px, -70px);
  }

  .homepagesection1 {
    position: relative;
    margin-top: 67px;
    padding: 0px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepagesection1video {
    border-radius: 32px;
    width: 100%;
    height: 467px;
    object-fit: cover;
  }

  .homepagesection1text {
    position: absolute;
    font-size: 36px;
    color: white;
    text-align: center;
    font-weight: 600;
    line-height: 43px;
  }

  .homepagesection2 {
    margin-top: 49px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepagesection2text {
    font-size: 24px;
    display: inline-flex;
    gap: 8px;
    color: #A80018;
    line-height: 24.5px;
  }

  .homepagesection2img {
    width: 32px;
    height: 40px;
    border-radius: 3px;
  }

  .homepagesection2img {
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Smooth transition for transform and filter */
  }

  .homepagesection2img:hover {
    transform: scale(1.5) rotate(-4deg);
    /* Scale and rotate the image on hover */
    filter: blur(5px);
    /* Apply blur on hover */
  }

  .homepagesection2img:hover {
    filter: none;
    /* Remove blur after the transition */
    transition: transform 0.3s ease, filter 0.15s 0.15s ease;
    /* Smooth transition for filter with delay */
  }

  @keyframes hoverEffect {
    0% {
      transform: none;
      filter: none;
    }

    50% {
      transform: scale(2.1) rotate(-5deg);
      filter: blur(2px);
      /* Blur effect while scaling and rotating */
    }

    100% {
      filter: none;
      /* Remove blur effect */
    }
  }

  .homepagesection3 {
    margin-top: 150px;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .homepagesection4 {
    margin-top: 150px;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .homepagesection5 {
    margin-top: 49px;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
  }

  .homepagesection5motion {
    width: 100%;
    height: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-top: 70px;
  }

  .motion-cms-play {
    display: none;
  }

  .motion-cms-playmobile {
    z-index: 6;
    width: 50px;
    height: 50px;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    color: var(--pale);
    transform-style: preserve-3d;
    /* background-color: rgba(14, 16, 18, .5); */
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    transform: translateZ(64px);
  }

}
/* Initially hide the video */
.homepagesection1video {
  opacity: 0; /* Hidden initially */
  visibility: hidden; /* Prevent any flickering */
  transition: opacity 0.5s ease-out; /* Optional smooth fade-in */
}

/* Make the video visible after animation starts */
.homepagesection1video.loaded {
  opacity: 1;
  visibility: visible;
}

/* Large devices (desktops, 769px and up) */
@media only screen and (min-width: 769px) {
  .preloader-video {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    object-fit: cover; /* Ensure the video covers the whole screen */
  }
  .motion-cms-playmobile {
    display: none;
  }

  .headerConatctTitle {
    font-weight: 700;
    font-size: 64px;
    line-height: 48px;
    text-align: center;
    color: #FFF;
  }

  .material-bubble {
    background-color: transparent;
    color: #A80018;
    /* Adjusted for darken($darkblue, 10%) */
    border: 1px;
    padding: 10px 14px;
    overflow: hidden;
    box-shadow: none;
    position: relative;
    border-radius: 24px;
    font-size: 14px;
    line-height: 11px;
  }

  .material-bubble1 {
    display: none;
  }

  .homepagesection1 {
    position: relative;
    margin-top: 75px;
    padding: 0px 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepagesection1video {
    border-radius: 32px;
    width: 100%;
    height: 639px;
    object-fit: cover;
  }

  .homepagesection1text {
    position: absolute;
    font-size: 82px;
    color: white;
    text-align: center;
    font-weight: 600;
    line-height: 98px;
    width: 70%;
  }

  .homepagesection2 {
    margin-top: 187px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homepagesection2text {
    font-size: 64px;
    display: inline-flex;
    gap: 21px;
    color: #A80018;
  }

  .homepagesection2img {
    width: 72px;
    height: 90px;
    border-radius: 10px;
  }

  .homepagesection2img {
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Smooth transition for transform and filter */
  }

  .homepagesection2img:hover {
    transform: scale(1.5) rotate(-4deg);
    /* Scale and rotate the image on hover */
    filter: blur(5px);
    /* Apply blur on hover */
  }

  .homepagesection2img:hover {
    filter: none;
    /* Remove blur after the transition */
    transition: transform 0.3s ease, filter 0.15s 0.15s ease;
    /* Smooth transition for filter with delay */
  }

  @keyframes hoverEffect {
    0% {
      transform: none;
      filter: none;
    }

    50% {
      transform: scale(2.1) rotate(-5deg);
      filter: blur(2px);
      /* Blur effect while scaling and rotating */
    }

    100% {
      filter: none;
      /* Remove blur effect */
    }
  }


  .homepagesection3 {
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .homepagesection4 {
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  .homepagesection5 {

    width: 100%;
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
  }

  .homepagesection5motion {
    width: 100%;
    height: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    margin-top: 70px;
  }

  .motion-cms-play {
    z-index: 6;
    width: 100px;
    height: 100px;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    color: var(--pale);
    transform-style: preserve-3d;
    background-color: rgba(14, 16, 18, .5);
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    transform: translateZ(64px);
  }



}

.word {
  opacity: 0;
  transform: translateY(20px);
  display: inline-block;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  
}

.word.animate {
  opacity: 1;
  transform: translateY(0);
}

.homepagesection1text.animate .word {
  animation: fadeInUp 0.8s forwards;
  margin-right: 15px;
}
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.card {
  padding: 10px;
  cursor: pointer;
  overflow: hidden;

  height: 100%;

}

.card__image {
  aspect-ratio: 16 / 12;
  width: 100%;
  
  object-fit: cover;
}

.card__content {
  border-radius: 10px;
  width: 100%;
  /* max-width: 800px; */
  height: 100%;
  will-change: transform;
  transition: transform 0.25s ease-out;
}

.card__title {
  color: hsl(201, 14%, 20%);
  font-size: 20px;
  padding: 10px 14px 5px;
  margin: 0;
}

.card__description {
  margin: 0;
  padding: 0 14px 10px;
  font-size: 14px;
  color: hsl(201, 14%, 40%);
  text-align: left;
}

.card__gloss {
  opacity: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: radial-gradient(circle,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%);
  position: absolute;
  will-change: opacity;
}

.card__gloss.card__gloss--animatable {
  transition: 0.25s opacity ease-out;
}

.material-bubble:hover {
  color: #f8f8f8;
  /* Adjusted for $offwhite */
}

.material-bubble::before {
  content: "";
  position: absolute;
  border-radius: 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #A80018;
  /* Adjusted for darken($darkblue, 10%) */
  transition: opacity 0.3s, border 0.3s;
}

.material-bubble:hover::before {
  opacity: 0;
}

.material-bubble::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #A80018;
  /* Adjusted for lighten($darkblue, 10%) */
  border-color: transparent;
  border-radius: 50%;
  transform: translate(-10px, -70px) scale(0.1);
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.material-bubble:hover::after {
  opacity: 1;
  transform-origin: 100px 100px;
  transform: scale(1) translate(-10px, -70px);
}