/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Medium devices (tablets, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {}

/* Large devices (desktops, 769px and up) */
@media only screen and (min-width: 769px) {
    .motionsection1 {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .motionsection1Title {
        font-weight: 700;
        font-size: 128px;
        line-height: 98px;
        text-align: center;
        color: #A80018;
    }

    .motionsection1para {
        margin-top: 67px;
        width: 1083px;
        font-weight: 500;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #A80018;
    }
}