@media only screen and (max-width: 768px) {
    .stillsection1 {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stillsection1Title {
        font-weight: 700;
        font-size: 48px;
        line-height: 98px;
        text-align: center;
        color: #A80018;
    }

    .stillsection1para {
        /* margin-top: 67px; */
        width: 349px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #A80018;
    }
}

/* Image styles */
.still-image {
    opacity: 0;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 1s ease-out;
}



/* When the image becomes visible, move it into place */
.still-image.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Large devices (desktops, 769px and up) */
@media only screen and (min-width: 769px) {
    .slide-in-left {
        transform: translateX(-200px);
    }

    .slide-in-right {
        transform: translateX(200px);
    }

    .stillsection1 {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stillsection1Title {
        font-weight: 700;
        font-size: 128px;
        /* line-height: 98px; */
        text-align: center;
        color: #A80018;
        overflow: hidden; /* Prevent overflow */
        white-space: nowrap; /* Prevent wrapping if not needed */
        text-align: center; /* Center align if desired */
    }

    .stillsection1para {
        margin-top: 67px;
        width: 1083px;
        font-weight: 500;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #A80018;
        
    }
}

.word {
    opacity: 0;
    transform: translateY(20px);
    display: inline-block;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    margin-right: 5px;
}

.word.animate {
    opacity: 1;
    transform: translateY(0);
}

.stillsection1Title.animate .word,
.stillsection1para.animate .word {
    animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
