@media only screen and (max-width: 768px) {
    .stillsection1 {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stillsection1Title {
        font-weight: 700;
        font-size: 48px;
        line-height: 98px;
        text-align: center;
        color: #A80018;
    }

    .stillsection1para {
        /* margin-top: 67px; */
        width: 349px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #A80018;
    }
}

/* Large devices (desktops, 769px and up) */
@media only screen and (min-width: 769px) {
    .stillsection1 {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .stillsection1Title {
        font-weight: 700;
        font-size: 128px;
        line-height: 98px;
        text-align: center;
        color: #A80018;
    }

    .stillsection1para {
        margin-top: 67px;
        width: 1083px;
        font-weight: 500;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
        color: #A80018;
    }
}